.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 14px;
  line-height: 16px;
  background-color: #F5F5F5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

@media screen and (min-width: 1000px) {
  .body {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}

@media screen and (min-width: 800px) {
  .header {
    max-width: 1280px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    padding-top: 55px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.logo {
  display: block;
}

.logo--tehnoprogress {
  width: 127px;
  height: 20px;
}

@media screen and (min-width: 800px) {
  .logo--tehnoprogress {
    width: 180px;
    height: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .logo--tehnoprogress {
    margin-right: 30px;
  }
}

.logo--courson {
  margin-top: 15px;
  width: 138px;
  height: 18px;
}

@media screen and (min-width: 1000px) {
  .logo--courson {
    margin-top: 0;
  }
}

.logo__img {
  width: 100%;
  height: auto;
  display: block;
}

.main-title {
  margin: 12px auto 0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@media screen and (min-width: 800px) {
  .main-title {
    margin-top: 14px;
    font-size: 23px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .main-title {
    margin-top: 11px;
    width: 100%;
    text-align: left;
  }
}

.subtitle {
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  max-width: 280px;
  text-align: center;
  position: relative;
  padding-top: 180px;
}

@media screen and (min-width: 800px) {
  .subtitle {
    font-size: 20px;
    max-width: 450px;
    line-height: 23px;
  }
}

@media screen and (min-width: 1000px) {
  .subtitle {
    padding-top: 0;
  }
}

.subtitle:before {
  content: '';
  width: 235px;
  height: 167px;
  background: url("../img/free-wifi-image.svg") center no-repeat;
  position: absolute;
  top: 0px;
  left: 47%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 1000px) {
  .subtitle:before {
    display: none;
  }
}

.free-wifi {
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .free-wifi {
    max-width: 1280px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1000px) {
  .free-wifi {
    margin-top: auto;
    margin-bottom: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .free-wifi:before {
    content: '';
    background: url("../img/free-wifi-image.svg") center no-repeat;
    display: block;
    width: 400px;
    height: 300px;
    margin-right: auto;
    background-size: contain;
  }
}

@media screen and (min-width: 1000px) and (min-width: 1200px) {
  .free-wifi:before {
    width: 515px;
    height: 365px;
  }
}

@media screen and (min-width: 1000px) {
  .free-wifi__inner {
    width: 400px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    margin-right: auto;
  }
}

.form {
  margin-top: 18px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .form {
    margin-top: 39px;
    max-width: 387px;
    margin-bottom: 40px;
  }
}

.form__input {
  width: 100%;
  height: 29px;
  padding: 0 10px 0 34px;
  border: 1px solid #979797;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #898989;
  outline: none;
}

@media screen and (min-width: 800px) {
  .form__input {
    height: 49px;
    padding-left: 54px;
    padding-right: 25px;
    font-size: 18px;
  }
}

.form__input-wrapper {
  position: relative;
}

.form__input-wrapper:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper:before {
    width: 30px;
    height: 30px;
    left: 14px;
  }
}

.form__input-wrapper--name:before {
  background: url("../img/name.svg") center no-repeat;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper--name:before {
    background-size: 22px;
  }
}

.form__input-wrapper--email:before {
  background: url("../img/email.svg") center 6px no-repeat;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper--email:before {
    background-size: 26px;
    background-position: center 4px;
  }
}

.form__input-wrapper:after {
  content: '*';
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #F9593A;
  position: absolute;
  right: 5px;
  top: 5px;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper:after {
    right: 15px;
    top: 15px;
  }
}

.form__input::-webkit-input-placeholder {
  color: rgba(137, 137, 137, 0.5);
}

.form__input:-moz-placeholder {
  color: rgba(137, 137, 137, 0.5);
}

.form__input::-moz-placeholder {
  color: rgba(137, 137, 137, 0.5);
}

.form__input:-ms-input-placeholder {
  color: rgba(137, 137, 137, 0.5);
}

.form__input-wrapper + .form__input-wrapper {
  margin-top: 11px;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper + .form__input-wrapper {
    margin-top: 19px;
  }
}

.form__input-wrapper + .form__label {
  margin-top: 13px;
}

@media screen and (min-width: 800px) {
  .form__input-wrapper + .form__label {
    margin-top: 24px;
  }
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox:checked + .form__label-text:after {
  opacity: 1;
}

.form__label {
  width: 100%;
  max-width: 218px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 800px) {
  .form__label {
    max-width: 342px;
  }
}

.form__label + .form__label {
  margin-top: 4px;
}

@media screen and (min-width: 800px) {
  .form__label + .form__label {
    margin-top: 15px;
  }
}

.form__label-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #898989;
  font-size: 9px;
  width: 100%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 800px) {
  .form__label-text {
    font-size: 14px;
    padding-left: 31px;
  }
}

.form__label-text:before {
  content: '';
  width: 14px;
  height: 13px;
  border: 1px solid #979797;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 800px) {
  .form__label-text:before {
    width: 22px;
    height: 22px;
  }
}

.form__label-text:after {
  content: '';
  width: 14px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/check.svg") center no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (min-width: 800px) {
  .form__label-text:after {
    width: 22px;
    height: 22px;
    background-size: 17px;
  }
}

.form__label-link {
  color: #D0021B;
}

.form__submit {
  width: 160px;
  height: 40px;
  display: block;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7ED321;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  line-height: 1.2;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.form__submit--no-active {
  background-color: #9B9B9B;
  cursor: default;
}

@media screen and (min-width: 800px) {
  .form__submit {
    width: 216px;
    height: 54px;
    margin-top: 38px;
    font-size: 16px;
  }
}

.gift {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 800px) {
  .gift {
    max-width: 335px;
    padding-left: 110px;
  }
}

@media screen and (min-width: 1000px) {
  .gift {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.gift:before {
  content: '';
  width: 81px;
  height: 57px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background: url("../img/gitf-icon.svg") center no-repeat;
}

@media screen and (min-width: 800px) {
  .gift:before {
    width: 98px;
    height: 66px;
    background-size: 98px;
  }
}

.gift__text {
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .gift__text {
    font-size: 20px;
    line-height: 23px;
  }
}

.gift__text-color {
  font-weight: bold;
  text-transform: uppercase;
  color: #FC4B1E;
}

/*# sourceMappingURL=style.css.map */